@media (max-width:375px){
    .header-todos{
        h1{
            font-size: 20px;
            grid-column: 1/3;
            text-align: start;
            padding-left: 1rem;
        }
    }
    nav{
        grid-column: 3/5;
        align-content: end;
        padding-right: 1rem;
    }
    .img-barsa{
        padding-left: 0px;
        padding-right: 0px;
    }
    .video-cincocero{
        padding-left: 40px;
    }
    .info-infe{
        font-size: 17px;
    }
    .info-seleccion{
        font-size: 17px;
    }
    .info-mundial{
        font-size: 17px;
    }
}
