@media (max-width:1024px){
    .navBar{
        li{
            a{
                font-size: 20px;
            }
        }
    }
    dl{
        padding-top: 20px;
    }
    .subTitulo{
        font-size: 1rem;
        padding-left: 4rem;
    }
    .info-goat{
        font-size: 0.75rem;
        padding-right: 50px;
    }
    .btn-group{
        padding-left: 120px;
        padding-bottom: 70px;
        display: table-column;
    }
    .messi-massia{
        margin-top: -12rem;
    }
    .section-individual{
        ul{
            padding-top: 30px;
        }
    }
    .messi-cincocero{
        grid-column: 2/3;
        padding-left: 1rem;
    }
    .img-barsa{
        grid-column: 2/7;
        grid-row: 2/6;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .video-cincocero{
        grid-row: 2/4;
        align-content: center;
    }
}