@media (max-width:768px){
    .navBar{
        li{
            a{
                font-size: 15px;
            }
        }
    }
    .subTitulo{
        padding-left: 6rem;
    }
    .info-goat{
        font-size: 0.60rem;
        padding-left: 8rem;
    }
    dl{
        padding-left: 45px;
    }
    .btn-group{
        display: none;
    }
    .main-galardones{
        grid-template: repeat(4,1fr)/repeat(4,1fr);
    }
    .section-colectivo{
        grid-column: 2/4;
        padding-left: 200px;
        padding-top: 90px;
        h2{
            font-size: 30px;
            margin-top: -60px;
            margin-left: -80px;
        }
    }
    .section-individual{
        grid-column: 2/4;
        h2{
            font-size: 30px;
            margin-left: -150px;
            margin-top: -150px;
        }
        ul{
            margin-left: -250px;
        }
    }
    .main-barcelona{
        grid-template: repeat(4,1fr)/repeat(4,1fr);
    }
    .section-barsa{
        grid-column: 2/5;
        padding-bottom: 2rem;
        dl{
            dt{
                padding-left: 0px;
                font-size: 25px;
            }
            dd{
                font-size: 15px;
                padding-right: 40px;
            }
        }
    }
    .messi-debut{
        align-content: center;
        padding-left: 2rem;
        img{
            width: 90%;
            height: 90%;
        }
    }
    .img-barsa{
        grid-column: 2/5;
        grid-row: 2/4;
        padding-right: 1rem;
        img{
            width: 80%;
            height: 70%;
        }
    }
    .video-cincocero{
        grid-column: 1/2;
        grid-row: 2/4;
        padding-right: 32px;
        padding-left: 3rem;
        iframe{
            width: 300px;
            height: 300px;
        }
    }
    .main-argentina{
        grid-template: repeat(4,1fr)/repeat(4,1fr);
        height: 2500px;
    }
    .cat-inferiores{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .img-jjoo{
        grid-column: 3/5;
        img{
            width: 100%;
            height: 50%;
            padding-top: 70px;
        }
    }
    .debut-oficial{
        grid-column: 1/3;
    }
    .img-debut{
        grid-column: 3/5;
        img{
            width: 100%;
            height: 50%;
            padding-top: 70px;
        }
    }
    .mundial-2010{
        grid-column: 1/3;
        grid-row: 4/5;
        padding-bottom: 1rem;
    }
    .img-2010{
        grid-column: 3/5;
        grid-row: 4/5;
        img{
            width: 100%;
            height: 50%;
            padding-top: 70px;
        }
    }
}